API
---

.. autosummary::
    :toctree: generated/
    :nosignatures:

    openmmml.MLPotential


Developer API
~~~~~~~~~~~~~
.. autosummary::
    :toctree: generated/
    :nosignatures:

    openmmml.mlpotential.MLPotentialImplFactory
    openmmml.mlpotential.MLPotentialImpl
    openmmml.mlpotential.EmbeddingFactory
    openmmml.mlpotential.Embedding


Models
~~~~~~
.. autosummary::
    :toctree: generated/
    :nosignatures:

    {% for model in models %}
      {{ model }}
    {% endfor %}


Embeddings
~~~~~~~~~~
.. autosummary::
    :toctree: generated/
    :nosignatures:

    {% for embedding in embeddings %}
      {{ embedding }}
    {% endfor %}
